div#border
{
	width: 100%;
	border: 2px black solid;
}
p#tytul1
{
	text-align:right;
	font-size:50px;
	color:gold;
}
p#tytul2
{
	text-align:right;
	font-size:50px;
	color:#87CEEB;
}
p#zdaniepie
{
	text-align:center;
    font-style:Italic;
	font-weight: 200;
	font-size: x-large;
	font-family: Serif;
	color: gold;
	text-indent: 10mm;
	line-height: 1cm;
	word-spacing: 18px;
	letter-spacing:18mm;
}
p#zdaniedru
{
	text-align:center;
	text-decoration: overline;
	font-weight: 900;
	font-size: x-small;
	font-family: Serif;
	color:#FFFF00;
	text-indent: 30mm;
	line-height: 1cm;
	word-spacing: 12px;
	letter-spacing:18mm;
}
p#zdanietrz
{
	text-align:center;
	font-variant: small-caps;
	text-transform: lowercase;
	font-weight: 400;
	font-size: xx-large;
	font-family: Serif;
	color: moccasin;
	text-indent: 30mm;
	line-height: 1cm;
	word-spacing: 12px;
	letter-spacing:18mm;
}
p#zdaniepied
{
	text-align:right;
    font-style: Oblique;
	font-weight: 300;
	font-size: 10px;
	font-family: Sans-Serif;
	color: Aqua;
	text-indent: 1cm;
	line-height: 1cm;
	word-spacing: 12px;
	letter-spacing:2ex;
}
p#zdaniedrud
{
	text-align:right;
	text-transform: lowercase;
	text-decoration:line-through;
	font-weight: 600;
	font-size: 1em;
	font-family: Sans-Serif;
	color: Cyan;
	text-indent: 1cm;
	line-height: 1cm;
	word-spacing: 12px;
	letter-spacing:2ex;
}
p#zdanietrzd
{
	text-align:right;
	text-transform:capitalize;
	font-weight: 800;
	font-size: 0.1in;
	font-family: Sans-Serif;
	color: DeepSkyBlue;
	text-indent: 1cm;
	line-height: 1cm;
	word-spacing: 12px;
	letter-spacing:2ex;
}