div
{
	color: red;
	font-size: 2cm;
}
A
{
font-size: 18pt;
text-decoration: none;
}
A:link
{
color: blue;
}
A:visited
{
color: green;
}
A:hover
{
color: red;
text-decoration: underline;
}

/*
text-decoration: none; - usuwamy wszystkie dekoracje tekstu 
text-decoration: underline; - podkreślenie tekstu 
Kuba Gackowski
*/